<form style="display: inline"method="post" action="{{ path('ruta_delete', {'id': rutum.id}) }}" onsubmit="return confirm('Estas seguro que desea borrar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rutum.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
