<form method="post" action="{{ path('ruta_delete', {'id': rutum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rutum.id) }}">
    <button class="btn">Delete</button>
</form>
