{% extends 'base.html.twig' %}

{% block title %}Editar Ruta{% endblock %}

{% block body %}
{{parent()}}
    <h1>Editar Ruta</h1>

    {% for message in app.flashes('failed') %}

            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

    {{ include('ruta/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a href="{{ path('ruta_index') }}">Volver a la lista/a>

   
{% endblock %}
