{% extends 'base.html.twig' %}

{% block title %}Edit Ruta{% endblock %}

{% block body %}
    <h1>Edit Ruta</h1>

    {{ include('ruta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ruta_index') }}">back to list</a>

    {{ include('ruta/_delete_form.html.twig') }}
{% endblock %}
