{% extends 'base.html.twig' %}

{% block title %}Nueva Ruta{% endblock %}

{% block body %}
    <h1>Crear nueva Ruta</h1>

    {{ include('ruta/_form.html.twig') }}

    <a href="{{ path('ruta_index') }}">volver a la lista</a>
{% endblock %}
