<form  style="display:inline;" method="post" action="{{ path('imprevisto_delete', {'id': imprevisto.id}) }}" onsubmit="return confirm('Estas seguro que desea elminar el imprevisto?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imprevisto.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
