<form method="post" action="{{ path('imprevisto_resolve', {'id': imprevisto.id}) }}" onsubmit="return confirm('Estas seguro que desea resolver este imprevisto?');">
    {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imprevisto.id) }}">#}
    <button class="btn">Resolver</button>
</form>