{% extends 'base.html.twig' %}

{% block title %}Nuevo Imprevisto{% endblock %}

{% block body %}
    <br><br>
    <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h1>Notificar Imprevisto</h1>

            {{ include('imprevisto/_form.html.twig') }}

            {#<a href="{{ path('imprevisto_index') }}">back to list</a>#}
        </div>
    </div>
{% endblock %}
