{% extends 'base.html.twig' %}

{% block title %}New Imprevisto{% endblock %}

{% block body %}
    <h1>Create new Imprevisto</h1>

    {{ include('imprevisto/_form.html.twig') }}

    <a href="{{ path('imprevisto_index') }}">back to list</a>
{% endblock %}
