{% extends 'base.html.twig' %}

{% block title %}Registrar Express{% endblock %}

{% block body %}
    <div class= "container" >
        <br>
        <br>
        <br>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h1>Registrar usuario express</h1>
            {{ include('pasajero/_form.html.twig') }}
        </div>
    </div>  

{% endblock %}