{% extends 'base.html.twig' %}

{% block title %}Adquirir Mebresia{% endblock %}

{% block body %}
    <div class="container">
    <h1>Adquirir Mebresia</h1>
    <h4>Ingresar tarjeta</h4>

    {{ include('tarjeta/_form.html.twig') }}

    {#<a href="{{ path('tarjeta_index') }}">back to list</a>#}
    </div>
{% endblock %}
