{% extends 'base.html.twig' %}

{% block title %}Agregar Tarjeta{% endblock %}

{% block body %}
    <h1>Agregar Tarjeta</h1>

    {{ include('tarjeta/_form.html.twig') }}

    {#<a href="{{ path('tarjeta_index') }}">back to list</a>#}
{% endblock %}
