{% extends 'base.html.twig' %}

{% block title %}Adquirir Membresia{% endblock %}

{% block body %}
    <div class="container">
        <br><br><br>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h1>¿Desea adquirir la Membresia Gold?</h1>
            <h4>Ingresar tarjeta</h4>
            {{ include('tarjeta/_form.html.twig') }}
            <a  class="btn btn-danger" href= "{{path('app_login')}}" >Cancelar</a> 
            {#<a href="{{ path('tarjeta_index') }}">back to list</a>#}
        </div>
    </div>
{% endblock %}
