<form method="post" action="{{ path('chofer_delete', {'id': chofer.id}) }}" onsubmit="return confirm('¿Estas seguro que queres borrar este chofer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chofer.id) }}">
    <button class="btn">Borrar</button>
</form>
