{% extends 'base.html.twig' %}

{% block title %}Editar Chofer{% endblock %}

{% block body %}
{{parent()}}
    <h1>Editar Chofer</h1>

    {{ include('chofer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('chofer_index') }}">volver a la lista</a>

    
{% endblock %}
