{% extends 'base.html.twig' %}

{% block title %}Editar Chofer{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h1>Editar Chofer</h1>

        {{ include('chofer/_form.html.twig', {'button_label': 'Guardar'}) }}

        <a href="{{ path('chofer_index') }}">volver a la lista</a>

        </div>
    </div>
{% endblock %}
