{% extends 'base.html.twig' %}

{% block title %}Nuevo Chofer{% endblock %}

{% block body %}
    <h1>Crear nuevo chofer</h1>

    {{ include('chofer/_form.html.twig') }}

    <a href="{{ path('chofer_index') }}">Volver</a>
{% endblock %}
