{% extends 'base.html.twig' %}

{% block title %}Nuevo Chofer{% endblock %}

{% block body %}
{{parent()}}
    <h1>Crear nuevo Chofer</h1>
    {% for message in app.flashes('failed') %}

            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

    {{ include('chofer/_form.html.twig') }}

    <a href="{{ path('chofer_index') }}">volver a la lista</a>
{% endblock %}
