<form method="post" action="{{ path('ticket_cobrar', {'id': ticket.id}) }}" onsubmit="return confirm('Estas seguro que desea cobrar el viaje?');">
    <input type="hidden" name="_token" value="">
    <button class="btn">Cobrar</button>
</form>