{% extends 'base.html.twig' %}

{% block title %}Nuevo Ticket{% endblock %}

{% block body %}
     <div class= "container">
        <br>
        <br>
        <br>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h1>Comprar pasaje</h1>
            <h3> Ingrese los datos de la tarjeta </h3>

            {{ include('ticket/_form.html.twig') }}

            <a href="{{ path('busqueda') }}">volver</a>
        </div>
    </div>
{% endblock %}
