{% extends 'base.html.twig' %}

{% block title %}Nuevo Ticket{% endblock %}

{% block body %}
     <div class= "container">
        <br>
        <br>
        <br>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h1>Crear nuevo Ticket</h1>

            {{ include('ticket/_form.html.twig') }}

            <a href="{{ path('ticket_index') }}">volver a la lista</a>
        </div>
    </div>
{% endblock %}
