<form style="display: inline"method="post" action="{{ path('lugar_delete', {'id': lugar.id}) }}" onsubmit="return confirm('Estas seguro que desea borrar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lugar.id) }}">
    <button class="btn">Borrar</button>
</form>
