{% extends 'base.html.twig' %}

{% block title %}Editar Lugar{% endblock %}

{% block body %}
    <h1>Editar Lugar</h1>
     {% for message in app.flashes('failed') %}

            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {{ include('lugar/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lugar_index') }}">volver a la lista</a>

{% endblock %}
