{% extends 'base.html.twig' %}

{% block title %}Editar Lugar{% endblock %}

{% block body %}
{{parent()}}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <h1>Editar Lugar</h1>
        {% for message in app.flashes('failed') %}

                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {{ include('lugar/_form.html.twig', {'button_label': 'Guardar'}) }}

        <a href="{{ path('lugar_index') }}">volver a la lista</a>
        </div>
    </div>

{% endblock %}
