<form method="post" action="{{ path('reembolsar', {'id': ticket.id}) }}" onsubmit="return confirm('Estas seguro que desea realizar el reembolso?');">
    {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imprevisto.id) }}">#}
    <button class="btn btn-danger">Reembolsar</button>
</form>