<form method="post" action="{{ path('ticket_compra_cancelar',{'id': ticket.id}) }}" onsubmit="return confirm('Esta seguro que desea cancelar la compra?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
    <button class="btn btn-danger">Cancelar Compra</button>
</form>
