{% extends 'base.html.twig' %}

{% block title %}New Tercero{% endblock %}

{% block body %}
    <h1>Create new Tercero</h1>

    {{ include('tercero/_form.html.twig') }}

    <a href="{{ path('tercero_index') }}">back to list</a>
{% endblock %}
