<form style="display: inline" method="post" action="{{ path('viaje_delete', {'id': viaje.id}) }}" onsubmit="return confirm('Estas seguro que desea borrar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ viaje.id) }}">
    <button class="btn">Borrar</button>
</form>
