<form method= "post" style="display: inline" action= "{{ path('viaje_finalizar', {'id': viaje.id}) }}" onsubmit="return confirm('Estas seguro que desea finalizar el viaje el viaje?');">
    <button class="btn btn-danger" > Finalizar Viaje</button>
</form>