<form method= "post" style="display: inline" action= "{{ path('viaje_iniciar', {'id': viaje.id}) }}" onsubmit="return confirm('Estas seguro que desea iniciar el viaje?');">
    <button class="btn btn-primary" > Iniciar Viaje</button>
</form>