{% extends 'base.html.twig' %}

{% block title %}Editar Viaje{% endblock %}

{% block body %}
{{parent()}}
    <div class="container">
        <h1>Editar Viaje</h1>

        {{ include('viaje/_form.html.twig', {'button_label': 'Actualizar'}) }}

        <a href="{{ path('viaje_index') }}">volver a la lista</a>
        </div>
{% endblock %}
