{% extends 'base.html.twig' %}

{% block title %}Editar Viaje{% endblock %}

{% block body %}
{{parent()}}
    <div class="container">
        <br>
        <br>
        <br>
        <div class= "shadow-lg p-3 mb-5 bg-body rounded">
        {% for message in app.flashes('failed') %}

                <div class="alert alert-danger">
                    {{ message }}
                </div>
                
        {% endfor %}
        <h1>Editar Viaje</h1>

        {{ include('viaje/_form.html.twig', {'button_label': 'Guardar'}) }}

        <a href="{{ path('viaje_index') }}">volver a la lista</a>
        </div>
    </div>
{% endblock %}
