{% extends 'base.html.twig' %}

{% block title %}New Viaje{% endblock %}

{% block body %}
    <h1>Create new Viaje</h1>

    {{ include('viaje/_form.html.twig') }}

    <a href="{{ path('viaje_index') }}">back to list</a>
{% endblock %}
