<form method="post" action="{{ path('comentario_delete', {'id': comentario.id}) }}" onsubmit="return confirm('Esta seguro que desea eliminar su reseña?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comentario.id) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
