{% extends 'base.html.twig' %}

{% block title %}nuevo comentario{% endblock %}

{% block body %}
    <div class="container"> 
        <h1>Agregar un comentario</h1>

        {{ include('comentario/_form.html.twig') }}
    </div>    
{% endblock %}
