{% extends 'base.html.twig' %}

{% block title %}Edit Consumo{% endblock %}

{% block body %}
    <h1>Edit Consumo</h1>

    {{ include('consumo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('consumo_index') }}">back to list</a>

    {{ include('consumo/_delete_form.html.twig') }}
{% endblock %}
