{% extends 'base.html.twig' %}

{% block title %}Editar Insumo{% endblock %}

{% block body %}
    <h1>Editar Insumo</h1>

    {{ include('insumo/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a href="{{ path('insumo_index') }}">Volver a la lista</a>

 
{% endblock %}
