{% extends 'base.html.twig' %}

{% block title %}New Insumo{% endblock %}

{% block body %}
    <h1>Create new Insumo</h1>

    {{ include('insumo/_form.html.twig') }}

    <a href="{{ path('insumo_index') }}">back to list</a>
{% endblock %}
