{% extends 'base.html.twig' %}

{% block title %}Nuevo Insumo{% endblock %}

{% block body %}
{{parent()}}
    <h1>Crear nuevo Insumo</h1>

    {{ include('insumo/_form.html.twig') }}

    <a href="{{ path('insumo_index') }}">volver a la lista</a>
{% endblock %}
